{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div style="max-width: 45rem;">
        {% include '_legal-notice.html.twig' %}
    </div>
{% endblock %}
