{% extends 'base.html.twig' %}

{% block title %}New Server{% endblock %}

{% block body %}
    <h1>Create new Server</h1>

    {{ include('admin/once_human/server/_form.html.twig') }}

    <a href="{{ path('app_admin_once_human_server_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
