{% extends 'base.html.twig' %}

{% block title %}New ItemCategory{% endblock %}

{% block body %}
    <h1>Create new ItemCategory</h1>

    {{ include('admin/once_human/item_category/_form.html.twig') }}

    <a href="{{ path('app_admin_once_human_item_category_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
