{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}

    {{ form_start(resetForm) }}
        <h1>Modifier mon mot de passe</h1>
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Enregistrer mon mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
