{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}
    <h1>Create new Item</h1>

    {{ include('admin/once_human/item/_form.html.twig') }}

    <a href="{{ path('app_admin_once_human_item_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
