{% extends 'base.html.twig' %}

{% block title %}Edit Memetic{% endblock %}

{% block body %}
    <h1>Edit Memetic</h1>

    {{ include('admin/once_human/memetic/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_once_human_memetic_index') }}" class="btn btn-secondary">back to list</a>

    {{ include('admin/once_human/memetic/_delete_form.html.twig') }}
{% endblock %}
