{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Create new Event</h1>

    {{ include('admin/once_human/event/_form.html.twig') }}

    <a href="{{ path('app_admin_once_human_event_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
