.simple-image {
    padding: 0;
}

.simple-image input,
.simple-image [contenteditable] {
    width: 100%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

.simple-image img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}

.simple-image.withBorder img {
    border: 1px solid #000;
}

.simple-image.withBackground {
    background: #eff2f5;
    padding: 10px;
}

.simple-image.withBackground:not(.stretched) img {
    display: block;
    max-width: 60%;
    margin: 0 auto 15px;
}

.simple-image [placeholder]:empty::before,
.simple-image [placeholder][data-empty="true"]::before
{
    content: attr(placeholder);
    color: #555;
}

.simple-image [placeholder]:empty:focus::before,
.simple-image [placeholder][data-empty="true"]:focus::before{
    content: "";
}
