{% extends 'base.html.twig' %}

{% block title %}New Scenario{% endblock %}

{% block body %}
    <h1>Create new Scenario</h1>

    {{ include('admin/once_human/scenario/_form.html.twig') }}

    <a href="{{ path('app_admin_once_human_scenario_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
