{% extends 'base.html.twig' %}

{% block title %}New Issue{% endblock %}

{% block body %}
    <h1>Create new Issue</h1>

    {{ include('admin/press_review/issue/_form.html.twig') }}

    <a href="{{ path('app_admin_press_review_issue_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
