{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('admin/press_review/category/_form.html.twig') }}

    <a href="{{ path('app_admin_press_review_category_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
