//$primary: darken(#428bca, 20%);

$primary: #93C045;

body {
    min-height: 100dvh;
    overflow: hidden;
}

main {
    height: 100dvh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.scrollarea {
    overflow-y: auto;
}



#main-menu {

    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100dvh - 10.5rem);
    height: 100%;

    > ul {
        margin: 0px -.75rem !important;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        user-select: none;
        display: flex;
        flex-direction: column;
        //font-size: .875rem;

        ul {
            border-left: 2px solid rgba(var(--bs-light-rgb), .25);
            margin-left: .75rem;
            display: none;
        }
    }

    li {
        &[data-has-children] {
            > span {
                font-weight: bold;
                cursor: pointer;
                color: rgba(var(--bs-light-rgb), .75);
                justify-content: space-between;
                align-items: center;

                &:after {
                    font-family: "bootstrap-icons" !important;
                    content: '\F4FE';
                }

                &:hover {
                    color: rgb(var(--bs-light-rgb));
                }
            }

            &.current_ancestor > span {
                color: rgb(var(--bs-light-rgb));

                &:after {
                    content: '\F2EA';
                }
            }
        }

        &.current_ancestor > ul {
            display: block;
        }

        a {
            color: rgb(var(--bs-light-rgb));
            text-decoration: none;
        }

        &.current > a, a:hover {
            color: var(--bs-primary);
        }
    }

    a, span {
        display: flex;
        padding: .25rem .75rem;
    }
}

//#sidebar {
//    @apply w-64 border-r border-base-300 bg-base-100 shrink-0;
//
//    ul {
//        @apply flex flex-col text-sm select-none;
//
//        li {
//            > span {
//                @apply font-semibold flex pl-2 py-1 justify-between items-center cursor-pointer;
//
//                &:after {
//                    content: "\eb0b";
//                    font-family: tabler-icons;
//                }
//
//                &:hover {
//                    @apply text-primary;
//                }
//            }
//
//            a {
//                @apply w-full justify-start bg-base-100 flex px-2 py-1 rounded-none;
//
//                &:hover {
//                    @apply text-primary;
//                }
//            }
//
//            &.current {
//                > a {
//                    @apply font-semibold text-primary;
//                }
//            }
//        }
//
//        ul {
//            @apply border-l border-base-300 ml-2 hidden;
//        }
//
//        li.current_ancestor > ul {
//            @apply flex;
//        }
//
//        li.current_ancestor > span {
//            &:after {
//                content: "\eaf2";
//            }
//        }
//    }
//
//}

form {

    label {
        &.required {
            &:after {
                color: red;
                content: '*';
            }
        }
    }
}

.btn {
    margin-top: 1rem;
}

form {
    ul.ingredients {
        padding: 0;
        margin: 1rem 0 0;

        li {
            width: 100%;
            display: flex;
            gap: .5rem;
            align-items: center;

            > div {
                width: 100%;
                display: flex;
                gap: .5rem;
                align-items: center;

                > div {
                    width: 100%;
                }
            }

            .btn {
                margin-top: 0;
                margin-bottom: 1rem;
            }
        }
    }
}

h1 + .btn {
    margin-bottom: 1rem;
}

@import "~bootstrap/scss/bootstrap";

textarea {
    field-sizing: content;
    max-height: 30rem;
}
