@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    @apply table w-full shadow bg-base-100 rounded-md mt-4 overflow-hidden mb-4;

    td {
        &:last-of-type {
            @apply whitespace-nowrap;

            a {
                @apply btn btn-sm btn-primary;
            }
        }
    }
}

body {
    @apply bg-base-100;
}

#sidebar {
    @apply w-64 border-r border-base-300 bg-base-100 shrink-0;

    ul {
        @apply flex flex-col text-sm select-none;

        li {
            > span {
                @apply font-semibold flex px-2 py-1 justify-between items-center cursor-pointer;

                &:after {
                    content: '+';
                }

                &:hover {
                    @apply text-primary;
                }
            }

            a {
                @apply w-full justify-start bg-base-100 flex px-2 py-1 rounded-none;

                &:hover {
                    @apply text-primary;
                }
            }

            &.current {
                > a {
                    @apply font-semibold text-primary;
                }
            }
        }

        ul {
            @apply border-l border-base-300 ml-2 hidden;
        }

        li.current_ancestor > ul {
            @apply flex;
        }

        li.current_ancestor > span {
            &:after {
                content: '-';
            }
        }
    }

}

form {
    @apply flex gap-2 flex-col;

    .checkbox-input {
        @apply flex gap-2 flex-row-reverse justify-end items-center;
    }

    label {
        &.required {
            &:after {
                @apply text-error;
                content: '*';
            }
        }
    }

    input {
        @apply w-full;

        &[type="email"],
        &[type="password"],
        &[type="text"] {
            @apply input input-bordered;
        }

        &[type="checkbox"] {
            @apply checkbox;
        }
    }

    label {
        @apply label label-text justify-start;
    }

    button {
        &[type="submit"] {
            @apply mt-2;
        }
    }
}


h1 {
    @apply text-primary font-bold text-2xl leading-none;
}
