{% extends 'base.html.twig' %}

{% block title %}Edit MemeticCategory{% endblock %}

{% block body %}
    <h1>Edit MemeticCategory</h1>

    {{ include('admin/once_human/memetic_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_once_human_memetic_category_index') }}" class="btn btn-secondary">back to list</a>

    {{ include('admin/once_human/memetic_category/_delete_form.html.twig') }}
{% endblock %}
