{% extends 'base.html.twig' %}

{% block title %}New MemeticCategory{% endblock %}

{% block body %}
    <h1>Create new MemeticCategory</h1>

    {{ include('admin/once_human/memetic_category/_form.html.twig') }}

    <a href="{{ path('app_admin_once_human_memetic_category_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
