
<h1>Mentions légales</h1>

<h2>Éditeur des sites</h2>

<p>Les sites web suivants sont édités par EI Anthony Destenay :</p>

<ul>
    <li><a href="https://api.thoanny.fr">api.thoanny.fr</a></li>
    <li><a href="https://enshrouded.thoanny.fr">enshrouded.thoanny.fr</a></li>
    <li><a href="https://once-human.thoanny.fr">once-human.thoanny.fr</a></li>
    <li><a href="https://palia.thoanny.fr">palia.thoanny.fr</a></li>
</ul>

<p>
    Entreprise Individuelle<br />
    Siret : 797 626 421 00011<br />
    50 avenue Jean Jaurès, 75019 Paris<br />
    +33 650 081 972<br />
    Directeur de la publication : Anthony Destenay</p>

<h2>Hébergeurs</h2>

<p>Les sites web sont hébergés par :</p>
<p>
    Infomaniak Network SA<br />
    Rue Eugène Marziano 25<br />
    1227 Les Acacias, Genève, Suisse
</p>
<p>
    Vercel Inc.<br />
    340 S Lemon Ave #4133, Walnut<br />
    CA 91789, États-Unis</p>
</p>

<h2>Politique de confidentialité</h2>

<p>Cette politique de confidentialité a pour objectif de vous expliquer pourquoi nous recueillons vos données et comment nous nous engageons à les protéger.</p>
<p>EI Anthony Destenay s’engage en faveur de la protection de vos données personnelles et de votre vie privée.</p>
<p>À ce titre, et en application du Règlement Général de Protection des Données (ci-après dénommé « RGPD »), nous vous communiquons ci-après les conditions dans lesquelles vos données personnelles sont appelées à être traitées par nos soins.</p>

<h3>Quelles données personnelles traitons-nous ?</h3>

<h4>Finalités</h4>

<p>Nous sommes susceptibles de recueillir et de conserver vos données à caractère personnel, notamment pour : traiter et répondre à vos messages ; créer et gérer l’accès à vos comptes ; gérer vos inscriptions à nos newsletters ; rédiger des avis/publier des commentaires, textes et images sur les sites ; gérer le bon fonctionnement et la personnalisation des services ; détecter les attaques ; les recourts contentieux contre la fraude ; vous permettre de communiquer avec d’autres utilisateurs des sites web ; mémoriser vos préférences et voschoix quant à l’utilisation des cookies ; traiter et répondre à vos demandes d’exercice de droits ; répondre aux exigences réglementaires en vigueur ou en cours d’adoption.</p>

<h4>Catégories des données</h4>

<p>Des coordonnées (par exemple : pseudonyme, adresse e-mail) ; vos préférences de navigation ; des informations techniques et de localisations générées dans le cadre de l’utilisation de nos services ; aucune donnée sensible n’est collectée, ni traitée.</p>

<h3>Fondement juridiques des traitements</h3>

<p>Les traitements de données à caractère personnel mis en œuvre sont fondés :</p>

<ul>
    <li>soit sur le consentement de la personne concernée (Article 6.1.a du RGPD) pour tous les traitements qui nécessitent le recueil préalable du consentement ; dans les formulaires en ligne, les champs obligatoires sont marqués d’un astérisque ; à défaut de réponse aux questions obligatoires, nous ne serons pas en mesure de vous fournir les services demandés ;</li>
    <li>soit pour l’exécution d’un contrat ou l’exécution de mesures précontractuelles ;</li>
    <li>soit pour la poursuite d’un intérêt légitime (Article 6.1.e du RGPD) ;</li>
    <li>soit pour le respect d’une obligation légale ou règlementaire.</li>
</ul>

<p>Vos données sont conservées pour la durée nécessaire à l’accomplissement des finalités mentionnées ci-dessus.</p>

<p>La durée de conservation des données personnelles des Utilisateurs dépend de la finalité concernée. Dans ce cadre, les données personnelles des Utilisateurs sont conservées le temps nécessaire à l’accomplissement
de leur requête. À défaut d’une quelconque réalisation, les données personnelles sont supprimées dans les délais recommandés par la Commission Nationale Informatique et Libertés (CNIL), au terme d’un délai de trois ans à compter de leur collecte, sous réserve :</p>

<ul>
    <li>des possibilités et obligations légales en matière d’archivage ;</li>
    <li>des obligations de conservation de certaines données, à des fins probatoires, et/ou d’anonymisation de
        celles-ci.</li>
</ul>

<p>Les données personnelles de l'Utilisateur collectées et traitées, pour les besoins d’exécution des offres et services, sont conservées pour la durée nécessaire à la gestion de la relation contractuelle.</p>

<h3>Quels sont les destinataires de vos données&nbsp;?</h3>

<p>Vos données personnelles sont destinées à EI Anthony Destenay.</p>
<p>Nos services internes : elles sont traitées par le personnel de nos différents services tel que le service commercial ou le service en charge de la sécurité informatique.</p>
<p>Des entreprises ou personnes de confiance : ils traitent vos informations pour nous aux fins énoncées ci-dessus, conformément à nos instructions telles qu’elles sont décrites dans notre Politique de confidentialité et à tous autres cas d’usage approprié en termes de confidentialité et de sécurité.</p>
<p>Des sous-traitants techniques : les données personnelles vous concernant peuvent être transférées à nos sous-traitants techniques (au sens de l’article 4.8 du RGPD) de façon encadrée strictement. En cas de transfert, nous nous assurons que les sous-traitants respectent le RGPD et prennent des mesures technique et organisationnelle pour garantir la protection des données (art. 28 du RGPD).<br />Exemples&nbsp;: hébergeurs, prestataires e-mail, ...</p>
<p>Nous devons parfois permettre à nos partenaires de traiter, en notre nom, les informations personnelles que nous détenons sur vous aux fins énoncées dans cette politique ou pour toute autre raison requise par la loi.</p>
<p>Les données personnelles des Utilisateurs collectées sont hébergées en Suisse. Dans le cas du recours à un prestataire situé en dehors de l’Union européenne, nous nous engageons à vérifier que des mesures appropriées ont été mises en place afin que les données personnelles bénéficient d’un niveau de protection adéquat.</p>

<h3>Comment la sécurité de vos données est préservée ?</h3>

<p>Nous mettons en place toutes les mesures organisationnelles et techniques permettant d’assurer un niveau approprié de sécurité à vos données personnelles, et notamment d’éviter toute perte de confidentialité, d’intégrité ou d’accessibilité.</p>
<p>Nous effectuons fréquemment la sauvegarde des données, nous procédons au cryptage de vos données pour les protéger durant leur transfert. Dans la mesure du possible, nous limitons l'accès aux informations personnelles aux seules personnes qui ont besoin de les traiter. Nous nous assurons que ces tiers garantissent auxdites données personnelles le même niveau de protection, mettent en place des mesures techniques et organisationnelles pour assurer que la conservation des données personnelles des Utilisateurs est sécurisée et ce, pendant la durée nécessaire à l’exercice des finalités poursuivies.</p>

<h3>Quels sont vos droits sur vos données personnelles ?</h3>

<p>Conformément à la Réglementation applicable, vous disposez des droits suivants.</p>
<p><strong>Un droit de rectification :</strong> vous avez le droit d’obtenir la rectification des données inexactes vous concernant. Vous avez également le droit de compléter les données incomplètes vous concernant, en fournissant une déclaration complémentaire. En cas d’exercice de ce droit, nous nous engageons à communiquer toute rectification à l’ensemble des destinataires de vos données.</p>
<p><strong>Un droit d’effacement :</strong> dans certains cas, vous avez le droit d’obtenir l’effacement de vos données. Cependant, ceci n’est pas un droit absolu et nous pouvons pour des raisons légales ou légitimes conserver ces données.</p>
<p><strong>Un droit à la limitation du traitement :</strong> dans certains cas, vous avez le droit d’obtenir la limitation du traitement sur vos données.</p>
<p><strong>Un droit à la portabilité des données :</strong> vous avez le droit de recevoir vos données que vous nous avez fournies, dans un format structuré, couramment utilisé et lisible par une machine, pour votre usage personnel ou pour les transmettre à un tiers de votre choix. Ce droit ne s’applique que lorsque le traitement de vos données est basé sur votre consentement, sur un contrat ou que ce traitement est effectué par des moyens automatisés.</p>
<p><strong>Un droit d’opposition au traitement :</strong> vous avez le droit de vous opposer à tout moment au traitement de vos données pour les traitements basés sur notre intérêt légitime, une mission d’intérêt public et ceux à des fins de prospection commerciale. Ceci n’est pas un droit absolu et nous pouvons pour des raisons légales ou légitimes refuser votre demande d’opposition.</p>
<p><strong>Un droit de retirer votre consentement à tout moment :</strong> vous pouvez retirer votre consentement au traitement de vos données lorsque le traitement est basé sur votre consentement. Le retrait du consentement ne compromet pas la licéité du traitement fondé sur le consentement effectué avant ce retrait.</p>
<p><strong>Le droit de déposer une plainte auprès d’une autorité de contrôle :</strong> vous avez le droit de contacter votre autorité de protection des données pour vous plaindre de nos pratiques de protection des données personnelles.</p>
<p>En application du RGPD, les conditions d’exercice de ces droits peuvent varier selon la base de licéité du traitement mentionné dans le premier paragraphe.</p>
<p>Nous donnerons suite à tout exercice de droit dans les meilleurs délais et en tout état de cause dans un délai de 30 jours à compter de la réception de la demande.</p>
<p>Nous nous réservons le droit :</p>

<ul>
    <li>de demander une preuve de l’identité du demandeur en cas de doute raisonnable sur cette dernière et ce afin de respecter son obligation de confidentialité ;</li>
    <li>de prolonger le délai de réponse de deux mois, informant alors le demandeur de cette prolongation et des motifs du report dans un délai d’un mois à compter de la réception de la demande ;</li>
    <li>de refuser de répondre à un exercice de droit si celui-ci était considéré comme abusif (au vu de leur nombre, de leur caractère répétitif ou systématique).</li>
</ul>

<h3>Qui contacter pour toutes les demandes liées au RGPD ?</h3>

<p>Pour exercer vos droits, vous pouvez nous contacter :</p>
<p>EI Anthony Destenay</p>
<p>
    Entreprise Individuelle<br />
    Siret : 797 626 421 00011<br />
    50 avenue Jean Jaurès, 75019 Paris<br />
    +33 650 081 972<br />
    Directeur de la publication : Anthony Destenay
</p>
<p>Si, en dépit de nos efforts et de nos engagements, vous estimiez que vos droits concernant vos données personnelles n’étaient pas respectés, vous pouvez adresser une réclamation auprès de la Commission Nationale Informatique et Libertés : CNIL, 3 Place de Fontenoy, TSA 80715, 75334 Paris Cedex 07.</p>

<h3>Réserve de modification de la Politique de protection des données</h3>

<p>La présente Politique de protection des données personnelles peut être amenée à évoluer. Elles ont été élaborées à partir d’un modèle libre qui peut être téléchargé sur le site <a href="https://donnees.net" target="_blank" rel="nofollow">https://donnees.net</a>. Comme nous développons constamment nos services, nous nous réservons le droit de modifier cette Politique de confidentialité, conformément aux dispositions légales en vigueur. Toute modification est publiée sur ce document en temps opportun. Nous vous conseillons de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications ou mises à jour apportées à notre politique de confidentialité.</p>

<h2>Politique de Cookies</h2>

<h3>Qu’est-ce qu’un « cookie » ?</h3>

<p>Les cookies sont de petits fichiers texte qu’un site web enregistre sur votre ordinateur ou votre appareil mobile lorsque vous visitez les sites.</p>
<p>Ils facilitent votre expérience en ligne en sauvegardant les informations de navigation. Grâce aux cookies, les sites peuvent vous garder connecté, se souvenir de vos préférences de site et vous proposer un contenu personnalisé. Les cookies peuvent également être utilisés pour établir des statistiques sur l’expérience de navigation et pour montrer des publicités ciblées.</p>
<p>En général, les cookies peuvent être classés par :</p>

<ul>
    <li>domaine :
        <ul>
            <li>les cookies de première partie sont émis par un site web qu’un utilisateur consulte directement ;</li>
            <li>les cookies tiers ne sont pas créés par les sites web consultés, mais par des tiers comme Google Analytics, DoubleClick, Facebook, Twitter, LinkedIn, Youtube, Vimеo, etc.</li>
        </ul>
    </li>
    <li>
        objectif :
        <ul>
            <li>les cookies strictement nécessaires sont requis pour que les sites web fonctionnent correctement ;</li>
            <li>les cookies de préférences permettent aux sites web de se souvenir des choix que vous avez faits dans le passé ;</li>
            <li>les cookies de statistiques aident les propriétaires de sites web à collecter des données statistiques et à comprendre comment les visiteurs interagissent avec les sites web ;</li>
            <li>les cookies marketing suivent l’activité en ligne de l’utilisateur pour aider les annonceurs à diffuser des publicités plus pertinentes ;</li>
        </ul>
    </li>
    <li>
        durée :
        <ul>
            <li>les cookies de session qui sont effacés lorsque l’utilisateur ferme le navigateur ;</li>
            <li>les cookies persistants qui restent sur le dispositif de l’utilisateur pendant une certaine période de temps.</li>
        </ul>
    </li>
</ul>

<h3>Quels sont les cookies et traceurs que nous utilisons&nbsp;?</h3>

<h4>Cookies strictement nécessaires</h4>

<p><strong>PHPSESSID :</strong> cookie de session généré par des applications basées sur le langage PHP. Il s'agit d'un identifiant à usage général utilisé pour gérer les variables de session utilisateur. Il s'agit normalement d'un numéro généré de manière aléatoire, la manière dont il est utilisé peut être spécifique au site, mais un bon exemple est le maintien d'un statut de connexion pour un utilisateur entre les pages.</p>
<p><strong>nuxt-session :</strong> cookie de session généré par des applications basées sur le framework Nuxt et le module Nuxt-Auth-Utils. Il s'agit d'un identifiant à usage général utilisé pour gérer les variables de session utilisateur. Il s'agit normalement d'un numéro généré de manière aléatoire, la manière dont il est utilisé peut être spécifique au site, mais un bon exemple est le maintien d'un statut de connexion pour un utilisateur entre les pages.</p>

<h4>Cookies de performance</h4>

<p>Nous n'utilisons pas de cookies de performance.</p>

<h4>Cookies pour publicités ciblées</h4>

<p>Nous n'utilisons pas de cookies pour publicités ciblées.</p>

<h3>Vos préférences concernant les cookies</h3>

<p>Si cela est nécessaire, quand vous arrivez pour la première fois sur les sites, un bandeau "Cookies" vous propose d’accepter ou de refuser les cookies qui ne sont pas essentiels au fonctionnement des sites. Vous pouvez refuser/désactiver les cookies à tout moment, à l’exception des cookies nécessaires au fonctionnement stable des sites. Vous avez la possibilité de modifier à tout moment vos préférences relatives à la gestion des cookies.</p>

<h2>Conditions générales d'utilisation</h2>

<p>En accédant, en utilisant, en consultant ou en s’inscrivant sur les sites, l’Utilisateur s’engage à accepter sans réserve les présentes conditons générales d'utilisation. La consultation des sites ne nécessitent pas d’inscription préalable.</p>
<p>Les présentes conditons générales d'utilisations sont accessibles sur le Site à la rubrique "Conditions générales d'utilisation" et sont opposables à l’Utilisateur à compter de leur mise en ligne sur les sites ou à compter de leur date de dernière modification. L'Utilisateur s'engage à lire attentivement les présentes conditons. Dans l’hypothèse où l’utilisateur n'adhère pas aux conditions générales d'utilisation, il lui est prié de ne pas utiliser les services des sites.</p>
<p>Certains services nécessitent une inscription obligatoire, matérialisée par un formulaire d’inscription.</p>

<h3>Utilisation des sites</h3>

<p>L’Utilisateur reconnaît que l’utilisation des services des sites est réservée aux Utilisateurs capables de souscrire des obligations conformément au droit français.</p>
<p>Pour utiliser les services des sites, l’Utilisateur doit posséder un équipement, des logiciels, des paramétrages nécessaires pour un accès à Internet et faire un choix en matière de personnalisation des cookies.</p>
<p>Dans le cadre de l’utilisation des services des sites, l’Utilisateur s’engage à :

<ul>
    <li>respecter l’ensemble des règles fixées par les présentes dans l’utilisation des services des sites ;</li>
    <li>ne pas se livrer à des actes, de quelque nature que ce soit qui seraient contraires à la loi française et le cas échéant aux lois du pays à partir duquel il se connecte, qui porteraient atteinte à l'ordre public français ou aux droits d'un tiers ;</li>
    <li>ne pas créer, diffuser, transmettre, communiquer ou stocker, par tous moyens que ce soit et quel qu’en soit le destinataire, de contenus illicites ou propos diffamatoires, injurieux, discriminatoires, dénigrants, contrevenants à l’ordre public ;</li>
    <li>respecter la vie privée de l’ensemble des autres Utilisateurs et à ne pas porter atteinte aux droits des tiers ;</li>
    <li>ne pas divulguer ou laisser divulguer d’information permettant la localisation ou l'identification nominative et précise, de membres de la communauté, de lui-même, de ses proches, ou de tiers ;</li>
    <li>ne pas porter atteinte, nuire, entraver, perturber, ralentir, bloquer, détourner et plus généralement à ne pas agir d’une quelconque façon, qui ne serait pas en conformité avec l’usage ordinaire des sites ;</li>
    <li>ne pas accéder frauduleusement, se maintenir, entraver ou perturber les systèmes d'accès aux sites et à ne pas contourner, désactiver ou perturber les systèmes de sécurité des sites ;</li>
    <li>ne pas diffuser de correspondances privées et à porter une attention particulière à la protection des mineurs (par exemple : ne pas créer, diffuser, stocker, ou laisser diffuser, de contenus pornographiques ou pédo-pornographiques sur les espaces interactifs) ;</li>
    <li>ne pas introduire des contenus pouvant porter préjudice aux autres Utilisateurs.</li>
</ul>

<p>Le Site prévoit des espaces interactifs dans lesquels l’Utilisateur pourra le cas échéant publier du contenu utilisateur.</p>
<p>L’Utilisateur déclare être titulaire de tous les droits afférents au contenu utilisateur qu’il publie.</p>
<p>L’Utilisateur est entièrement et seul responsable de la licéité et de l’utilisation des contenus utilisateur qu’il publie ou qu’il transmet par le biais des sites, et garantit l'Éditeur contre toutes réclamations et/ou actions de tiers.</p>
<p>L’Utilisateur s’engage à ce que le contenu utilisateur (sans que cette liste soit limitative) :</p>

<ul>
    <li>ne constitue pas une violation de dispositions légales applicables, stipulations contractuelles ou autres droits de tiers, notamment des droits de la personnalité ou des droits de propriété intellectuelle ;</li>
    <li>ne comporte ni virus, ni logiciel publicitaire, ni logiciel espion, ni vers ou autres logiciels malveillants ;</li>
    <li>n’ait pas un caractère pornographique, sexuel, pédophile ou portant atteinte d’une quelconque manière aux mineurs ou à la protection des enfants et des adolescents ;</li>
    <li>ne représente pas des actes répréhensibles, tels que des mauvais traitements infligés à des animaux, la consommation de drogues ou la fabrication de bombes ;</li>
    <li>ne représente pas d’images violentes, ni ne mette en scène des personnes blessées, attaquées ou humiliées ;</li>
    <li>ne représente pas de contenus choquants (images d’accidents, de cadavres…) ;</li>
    <li>ne constitue pas, sans que ce qui suit soit limitatif, d’apologie ou d'incitation à la réalisation de crimes et délits, d’incitation au suicide, d’incitation à l’usage de drogues ou de substances interdites, de publicité indirecte pour des boissons alcoolisées, le tabac ou les produits du tabac d’incitation à commettre des attentats ; de provocation à la discrimination, à la haine ou à la violence en raison de la race, de l'ethnie, de la religion, du sexe, du handicap, de l’âge, de l’identité sexuelle, du statut de vétéran ou de la nation ;</li>
    <li>ne soit pas contraire à l’ordre public et aux bonnes mœurs.</li>
</ul>

<p>Les vols, persécutions, menaces, harcèlements, le non-respect de la vie privée ou la divulgation de données personnelles ne sont pas admis sur les sites.</p>
<p>L’Utilisateur ne crée pas de descriptions, étiquettes, titres ou vignettes pouvant prêter à confusion pour attirer un plus grand nombre d’internautes. L’Utilisateur s’engage à ne pas publier de grandes quantités de contenus non ciblés, indésirables ou répétitifs.</p>
<p>Conformément à la loi n° 2004-575 du 21 juin 2004 et au règlement (UE) 2022/2065 du 19 octobre 2022 (« DSA »), l'Éditeur n’est en aucun cas éditeur des contenus utilisateurs qui relèvent de la pleine et entière responsabilité de l’Utilisateur ayant posté le contenu. À ce titre, l'Éditeur, agissant en tant que simple hébergeur de contenus, n’est soumis à aucune obligation générale de surveiller les informations qu’elle transmet ou stocke ou de rechercher activement des faits ou des circonstances révélant des activités illégales.</p>
<p>S’agissant des contenus utilisateurs hébergés sur les sites, l'Éditeur n’est tenu de procéder à leur retrait des sites qu’après réception d’une notification ou d’un signalement valable faisant apparaître le caractère manifestement illicite du contenu utilisateur ou dans le cas où ce contenu utilisateur serait contraire aux présentes conditions générales.</p>
<p>L'Éditeur dispose de la faculté, à sa seule discrétion, de supprimer immédiatement tout contenu utilisateur qui apparaîtrait illicite, et notamment tout contenu utilisateur ayant fait l’objet d’une réclamation, fondée ou non, et, notamment, susceptible de porter atteinte aux droits de tiers et/ou contraire aux présentes conditions générales, et/ou d’infliger une sanction à l’Utilisateur, et/ou de supprimer le compte de l’Utilisateur, et/ou de bloquer toute nouvelle demande d’inscription.</p>
<p>L’Utilisateur accepte expressément cette faculté de l'Éditeur, et s’engage à ne former aucune réclamation contre l'Éditeur en cas de suppression d’un contenu utilisateur pour quelque raison que ce soit autrement que par les canaux mis à disposition par l'Éditeur.</p>
<p>L'Éditeur se réserve le droit, à sa seule discrétion, de limiter la capacité de stockage du contenu utilisateur que l’Utilisateur met en ligne.</p>
<p>L’Utilisateur s’interdit de porter atteinte de quelque manière que ce soit à l’ensemble des droits de propriété intellectuelle afférents aux sites, ainsi qu’à ses contenus, services et contenus utilisateurs. Il s’engage notamment à ne pas reproduire, copier, diffuser, distribuer, communiquer, céder, représenter, modifier, adapter, arranger, associer, traduire en toutes langues ou tous langages, sur tout autre site web, ainsi que sur tout support connu ou inconnu à ce jour, que ce soit pour une finalité commerciale ou non, les éléments et contenus des sites et de ses services, ni de manière générale, exploiter quelconque élément des sites, quel qu’en soit le moyen et le support, sans l’autorisation expresse et préalable de l'Éditeur ou des ayants droits. L’Utilisateur reconnaît et accepte expressément que les sites sont conçus pour un usage non-professionnel, raisonnable et paisible. L'Éditeur interdit formellement à tout Utilisateur de procéder directement ou indirectement à un usage commercial des sites, notamment de ses contenus, services, contenus utilisateurs ou espaces interactifs, par quelque moyen que ce soit, sans l’accord préalable et écrit de l'Éditeur ou des ayants droits. Ceci inclut, sans limitation, toute forme d'exploitation commerciale ou de monétisation des ressources offertes par les sites.</p>
<p>L’Utilisateur s’interdit de diffuser et/ou de prospecter à des fins commerciales sur les sites.</p>
<p>Lorsque l’Utilisateur fait le choix de recourir aux services des sites, tels que les espaces interactifs, et plus généralement lorsqu’il souhaite diffuser un contenu sur les sites, il renonce à toute revendication pécuniaire au titre de ce contenu, de sa création et de sa diffusion.</p>
<p>L’Utilisateur reconnaît le caractère public, consultable par tous, des espaces de discussions, des espaces interactifs et des contenus utilisateurs et par conséquent s’interdit d’y diffuser des coordonnées ou données personnelles.</p>

<h3>Responsabilité</h3>

<p>L'Éditeur met en place les moyens pour assurer des sites et des services de qualité. Néanmoins, il ne saurait être tenu pour responsable d’une quelconque indisponibilité, défaillance, modification ou erreur survenue lors de l’utilisation de ses sites ou de ses services. L'Éditeur ne saurait garantir la continuité, l’accessibilité, la parfaite confidentialité des échanges et la sécurité absolue des services, compte tenu notamment des risques liés à Internet.</p>
<p>L'exploitation des services pourra être momentanément interrompue pour cause de maintenance, de mises à jour ou d'améliorations techniques, ou pour en faire évoluer le contenu et/ou leur présentation.</p>
<p>L’Utilisateur est seul responsable de l'utilisation qu'il fait des sites. Il reconnaît expressément que son utilisation des site se fait à ses risques et périls et que les sites lui sont accessibles « en l’état » et en fonction de leur disponibilité. L'Éditeur ne saurait être tenu responsable d'une utilisation frauduleuse ou malveillante des services.</p>
<p>Sauf stipulation contraire, l’Utilisateur est seul responsable des conséquences résultant de son utilisation des services. L'Éditeur ne sera responsable en aucun cas pour :</p>

<ul>
    <li>les dommages de toute nature, directs ou indirects, résultant de l’utilisation des services des sites et notamment de toute perte d’exploitation, de pertes économiques (y compris, sans limitation, la perte des revenus, profits, contrats, partenaires commerciaux ou économies escomptées), ou d’atteinte aux droits des tiers ;</li>
    <li>les dommages de toute nature, directs ou indirects, résultant du contenu et/ou de l’utilisation des sites internet partenaires des sites ;</li>
    <li>les omissions et/ou erreurs que pourraient contenir les services.</li>
</ul>

<p>L'Éditeur n'est pas responsable d'un non-fonctionnement, d'une impossibilité d'accès, ou d’affichage des conditions générales d'utilisation des services imputables à un équipement non adapté, à des dysfonctionnements internes au fournisseur d'accès de l’Utilisateur, à l'encombrement du réseau Internet, et pour toutes autres raisons.</p>
<p>L'Éditeur ne pourra être tenue pour responsable des dommages (directs ou indirects), survenus lors de l’utilisation de ses sites ou de ses services, à l’exception des dommages qui auraient pour cause un manquement à ses obligations et l’Utilisateur garantit l'Éditeur des conséquences des réclamations ou actions dont il pourrait, de ce fait, faire l’objet.</p>
<p>L’Utilisateur renonce également à exercer tout recours contre l'Éditeur dans le cas de poursuites diligentées à son encontre du fait de l’utilisation et/ou l’exploitation des sites ou de ses services.</p>
<p>L'Éditeur ne saurait être tenue pour responsable des relations (contractuelles ou non) entre les annonceurs/partenaires et les Utilisateurs de ses sites et services sauf stipulation contractuelle expresse.</p>
<p>L'Utilisateur accepte de se soumettre aux dispositions relatives à la force majeure. La force majeure est constituée par tout événement revêtant les caractères d’extériorité, d’irrésistibilité et d’imprévisibilité reconnus par la jurisprudence des cours et des tribunaux qui empêcheraient l’une des parties ou les deux d’exécuter tout ou partie des engagements contenus dans les présentes.</p>
<p>L'Éditeur se réserve le droit de modifier, supprimer ou neutraliser tout ou partie des services proposés sur les sites, à tout moment et sans avoir à en justifier. Aucune responsabilité de ce fait ne pourra être encourue par l'Éditeur.</p>
<p>Les contenus éditoriaux et autres données publiés sur les sites sont fournis à titre d’information. Ces contenus peuvent contenir des erreurs, des inexactitudes, des omissions ou même être obsolètes. L’Utilisateur reconnaît en être pleinement informé et en conséquence à n’interpréter ou à n’utiliser ces contenus et données qu’à ses seuls risques et périls et à dégager l'Éditeur de toute responsabilité à cet égard. En conséquence, l'Éditeur ne saurait être tenue pour responsable de dommages directs ou indirects découlant de leur interprétation ou de leur utilisation.</p>

<h3>Propriété intellectuelle</h3>

<p>Les sites, ses contenus et services, ses logiciels, dessins, modèles, bases de données, marques et logos sont soumis au droit de la Propriété intellectuelle. Ces différents éléments sont la propriété de l'Éditeur ou des ayants droits. L’Utilisateur s’engage à respecter ces droits. L'Éditeur ne confère à l’Utilisateur qu’un droit non exclusif et incessible d’utilisation (l’utilisation s’entend d’un usage non commercial, caractérisé par la navigation, la participation et le choix de la souscription aux différents services) de ses sites et de ses services, et se réserve par conséquent les droits d’exploitation de diffusion, cession, ainsi que tout autre droit sur les éléments qui constituent ses sites et ses services. De ce fait toute reproduction, modification, distribution de ces éléments est interdite sans l'accord préalable exprès de son propriétaire.</p>
<p>Aucune stipulation des conditions générales d'utilisation ne peut être interprétée comme une cession de droits de propriété intellectuelle, que ce soit tacitement ou d’une autre façon.</p>
<p>Toute exploitation non autorisée des sites est constitutive d'actes de contrefaçon et engage la responsabilité pénale et civile de son auteur.</p>
<p>Les produits et jeux présentés sur les site correspondent à des marques déposées ou des marques commerciales appartenant à leurs propriétaires respectifs.</p>
<p>L'Éditeur ne peut garantir que lui-même ou d’autres Utilisateurs ne vont pas reprendre à leur compte les idées et contenus utilisateurs qu’un Utilisateur aurait choisi de partager via les sites.</p>
<p>C’est pourquoi, si un Utilisateur tient à garder une idée ou une information secrète et/ou qu’il ne souhaite pas la voir utilisée par d’autres, il lui incombe de ne pas la mettre en ligne par le biais des sites. Si l’Utilisateur soumet aux sites des suggestions, des propositions, des commentaires ou d’autres éléments dans le cadre des services, l'Éditeur n’aura aucune obligation de maintenir ces éléments confidentiels, n’aura aucune obligation d’y répondre d’une quelconque manière, et pourra utiliser ces éléments à toutes fins utiles, sans compensation ni rémunération, sans préjudice de l’application des autres stipulations pertinentes des présentes.</p>
<p>En soumettant un contenu utilisateur sur les sites, quelque soit le contenu utilisateur (notamment, et sans que cette liste soit exclusive : critiques, commentaires, images, vidéos, soumissions d’idées, suggestions et publications de messages sur les espaces interactifs), l’Utilisateur accorde à l'Éditeur, en vue d’exploiter le contenu utilisateur en tout ou en partie, en dehors de l’espace dans lequel l’Utilisateur l’a mis en ligne sans intervention de l'Éditeur, un droit et une licence irrévocable, à titre non exclusif, pour le monde entier et à titre gracieux, pour la durée de protection des droits d’auteur telle que prévue dans le code de la propriété intellectuelle, y compris ses prorogations éventuelles, d’utiliser, reproduire, modifier, adapter, publier, exploiter, exécuter, communiquer, représenter, traduire, sous-licencier, créer des œuvres dérivées, et distribuer du contenu utilisateur, ou incorporer un contenu utilisateur dans quelque forme que ce soit, media, ou toute technologie connue ou inconnue à ce jour, notamment pour faire la promotion des sites et de ses services et donne son accord pour toute utilisation commerciale ou non commerciale à ces fins. Cet article survit à la résiliation des présentes, pour quelque raison que ce soit.</p>
<p>Dans la limite autorisée par la loi, l’Utilisateur reconnaît et accepte, par les présentes, et compte tenu du type des services objet des présentes conditions générales d'utilisation, qu’il a conscience du risque de diffusion du contenu utilisateur, et du risque d’adaptation et/ou modification de ce contenu et accepte cette possibilité. L’Utilisateur reconnaît en outre que, pour les mêmes raisons, son nom et sa qualité d’auteur ne pourront être systématiquement associés à son contenu utilisateur, et accepte ces conditions d’exploitation.</p>

<h3>Durée</h3>

<p>Le présent contrat est conclu entre l'Éditeur et l’Utilisateur, dès l’acceptation des conditions générales d'utilisation par ce dernier, étant entendu que celles-ci peuvent évoluer à la discrétion de l'Éditeur. En cas de refus, l’Utilisateur doit immédiatement cesser d’utiliser les sites et les services. Le contrat est conclu pour toute la durée de l’utilisation des sites et des services.</p>
<p>L'éditeur peut résilier un contrat entre l'Éditeur et l’Utilisateur de plein droit et sans préavis en cas de non-respect des présentes conditions générales d'utilisation, sans préjudice de toute action que l'Éditeur pourrait décider d’engager à l’encontre de l’Utilisateur, tant sur le plan civil que pénal. Le non-respect d’une quelconque obligation figurant dans les présentes conditions générales d'utilisation entraînera la résiliation immédiate du contrat entre l'Éditeur et l’Utilisateur, sans préjudice d’éventuels dommages et intérêts pour l'Éditeur.</p>

<h3>Juridiction</h3>

<p>Tout litige en relation avec l’utilisation des sites et des services est soumis à la loi française.</p>
<p>En dehors des cas où la loi ne le permet pas, il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>
