<form method="post" action="{{ path('app_admin_once_human_specialization_group_delete', {'id': specialization_group.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specialization_group.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
