{% extends 'base.html.twig' %}

{% block title %}New SpecializationGroup{% endblock %}

{% block body %}
    <h1>Create new SpecializationGroup</h1>

    {{ include('admin/once_human/specialization_group/_form.html.twig') }}

    <a href="{{ path('app_admin_once_human_specialization_group_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
