{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <h1>Modifier un article</h1>

    {{ include('admin/blog/post/_form.html.twig') }}

    <a href="{{ path('app_admin_blog_post_index') }}" class="btn btn-secondary">Retourner à la liste</a>

    {{ include('admin/blog/post/_delete_form.html.twig') }}
{% endblock %}
